*{
    overflow-x: hidden;
}

.navbar {
    position: sticky;
    
}

.nav_upcontainer {
    background-color: black;
    height: 90px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;




}

.box_logo {
    background-color: black;
    width: 20%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav_logo {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: white;
    overflow: hidden;
    
    

}

.blue_text {
    color: rgb(87, 205, 241);
}

.box_search {
    background-color: black;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    height: 40px;
    width: 100%;
    border-radius: 30px;
    font-size: large;

}

.box_login {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    width: 5%;
    background-color: black;
    color: white;
    margin-left: 5vw;
    overflow: hidden;
    
}

.box_login p{
    overflow: hidden;
}

.userphoto {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    
}

.nav_downcontainer {
    height: 50px;
    background-color: rgb(82, 80, 80);
    display: flex;
    overflow: hidden;
    
    

}

.nav_links {
    display: flex;
    width: 100%;
    
    align-items: center;
    justify-content: space-between;
    overflow: hidden;





}

.nav_links li a {
    color: white;
    text-decoration: none;
}

.nav_links li {
    list-style: none;
    font-style: italic;



}


.items dt a {
    color: black;
}

.items dd a {
    color: black;
}

.box_products:hover {
    display: flex;
}

/*.home {}*/




.popup{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
    backdrop-filter: blur(5px);
    display: none;
    
    
    
}

.popup-content{
    background: transparent;
    height: 550px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 30vw;
}
.ram {
width: 320px;
height: 420px;
background: #000;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding: 70px 30px;
font-family: sans-serif;
}

.avatar {
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
top: 0px;
left: calc(50%-50px);
font-family: sans-serif;

}

.hari {
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
font-family: sans-serif;
}

.ram p {
margin: 0;
padding: 0;
font-weight: bold;
font-family: sans-serif;
}

.ram input {
width: 100%;
margin-bottom: 20px;
font-family: sans-serif;
}

.ram input[type="text"],
input[type="password"] {
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 16px;
font-family: sans-serif;
}

.ram input[type="submit"] {
border: none;
outline: none;
height: 40px;
background: #fb2525;
color: #fff;
font-size: 18px;
border: radius 20px;
font-family: sans-serif;
}

.ram input[type="submit"]:hover {
cursor: pointer;
background: green;
color: black;
font-family: sans-serif;
}

.ram input[type="button"] {
border: none;
outline: none;
height: 40px;
background: #fb2525;
color: #fff;
font-size: 18px;
border: radius 20px;
font-family: sans-serif;
}

.ram input[type="button"]:hover {
cursor: pointer;
background: green;
color: black;
font-family: sans-serif;
}

.ram a {
text-decoration: none;
font: size 12px;
line-height: 20px;
color: darkgray;
font-family: sans-serif;
}

.ram a:hover {
color: ghostwhite;
font-family: sans-serif;
}
.left_popup{
    position: absolute;
    left: 0;
    width: 585px;
    
    height: 100%;
}
.right_popup{
    position: absolute;
    right: 0;
    width: 500px;
    
    height: 100%;
}
.up_popup{
    position: absolute;
    top: 0;
    width: 100%;
    
    height: 100px;
}
.down_popup{
    position: absolute;
    top: 600px;
    width: 100%;
    
    height: 100%;
}

.home,.suggestion,.contact_us,.about_us,.products,.orders{
    margin-right: 20vw;

}
.products:hover{
    cursor: pointer;
}
.notelogin{
    font-size: 12px;
    color: grey;
}

@media(max-width: 800px){
    .home,.suggestion,.contact_us,.about_us,.products{
        width: 16%;

        
    
    }
    .popup-content{
        background: transparent;
        height: 550px;
        width: 500px;
        position: absolute;
        top: 100px;
        left: -10vw;
        
    }

    .avatar{
        display: none;
    }
    .box_logo{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav_logo{
        font-size: 18px;
    }
    .box_search{
        width: 38%;
        
    }
    .box_login{
        width: 12%;
        
    }

}